<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mystery number</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	img{
		width:400px;
		height:400px;
		margin-bottom: 1em;
	}
	div{
		width:100%;
		font-size: 1.8rem;
		margin: 2em auto;
	}

	a{
		font-size: 2rem;
	}
	body{
			display: flex;
			align-items: center;
			flex-flow: column;
	}

</style>
</head>
<body>

	<div><%=msg %>
	</div>

	<img src= "../public/<%=VisualIncentive%>">

	<a href="/">Try again!</a>
<script></script>
</body>
</html>