<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mystery number</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<form action="/formsubmit" method=post>
		<label for=text>Please choose a number between 1 and 10</label>
		<input id= numberchosen type=texte name=text>
		<button type=submit id=submit_btn> Send </button>
	</form>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../numattempt2.js"></script>       
</body>
</html>